<%= render "layouts/errors", :object => @adventure %>

<%= form_for(@adventure) do |f| %>
  <div class="form-group">
  <%= f.label :title %>
  <%= f.text_field :title, :class => "form-control" %>
  </div>
  <div class="form-group">
  <%= f.label :description %>
  <%= f.text_area :description, :size => "60x12", :class => "form-control" %>
  </div>
  <div class="form-group">
  <%= f.label :price %>
  <%= f.number_field :price, :step => 'any' %>
  <%= f.select :state, us_states %>
  <%= f.select :category, adventure_categories %>
  </div>
  <%= f.submit :class => "btn btn info" %>
<% end %>

