<h1><%= @adventure.title %><h1>
<div class="row">
  <div class="col-md-8">
  <p class="description"><%= @adventure.description %></p>
  </div>
  <div class="col-md-4">
    <p><%= image_tag @adventure.photo.url(:medium) %></p>
  </div>
</div>

<div class="row">
  <%= link_to "Edit Adventure", edit_adventure_path(@adventure), :class => "btn btn-info" %>
  <%= link_to "Delete Adventure", adventure_path(@adventure), data: { confirm: "are you sure?", method: "delete" }, :class => 'btn btn-info'  %>
</div>
